* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #ded4d4;
}

.container {
    align-items: center;
    justify-content: center;
    display: block;
}

#img-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: auto;
}

#img-title > img {
    width: 100px;
}

#img-title > h1 {
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
}

hr {
    width: 75%;
    background-color: black;
    height: 5px;
    margin: auto;
}

.text {
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    width: 75%;
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.btn-container {
    margin: 20px auto;
    padding: 10px;
    width: 75%;
}

.main-btn {
    display: flex;
    margin: 20px auto 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-btn:hover{
    cursor: pointer;
    background-color:#A9A9A9;
}

.main-btn:active {
    background-color:#D3D3D3;
}

.main-btn > .logo {
    width: 50px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 75%;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#search-bar {
    margin-right: 10px;
    border-radius: 20px;
    padding: 5px 10px;
    height: 35px;
    width: 50%;
}

#search-btn {
    height: 35px;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #A9A9A9;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    width: 75%;
}

.main-menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#main-menu {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#main-menu:hover {
    background-color: #A9A9A9;
}

#create > a {
    text-decoration: none;
    color: black;
}

.no-underline {
    text-decoration: none;
    color: black;
}